
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
}

img{
    
    margin-left: 20px;
    margin-top:20px;
    
}


img#logo{   
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: -10px;

}

img#cadeira{
    height: 45px;
    width: 45px;
    margin-bottom: 17px;
    margin-left: 100px;
    
}
p {
    color:black;
    margin-left: 25px;
    margin-top: 5px;
    font: message-box;
    font-weight: bold;
    font-size: 13px;
    
}

input#textInput{
    color: white;
    padding: 12px;
}


#scroll {
    height:150px;
    overflow:scroll;


}

p#bot{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 179px;
    margin-top: -37px;
    font-size: 16px;
    
  
}

html {
    font-size: 17px;
    
}

div {
    word-wrap: break-word;
    line-height: 1.25rem;
    
}

div#chat{
    border-radius: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-color: #000;
    border-right-width: 1px;
    background-color: white;
    opacity: 0.94;
    
    
    


}

.chat-column {
    height: 100%;
    padding: 0.9375rem 0 0.625rem 0;
    margin: auto;
    text-align: left;
    max-width: 25rem;
    min-width: 9.375rem;
    
}

#chat {
    margin: 0.75rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80vh;
    
}

.message-inner {
    opacity: 0;
    opacity: 1;
    margin-top: 0.9375rem;
    
}

.from-user {
    text-align: right;
}

.from-user .message-inner {
    position: relative;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    background: rgba(78, 154, 247, 0.701);
    border-radius: 1.25rem;
    border-bottom-right-radius: 0;
    text-align: left;
    display: inline-block;
    margin-left: 2.5rem;
    min-width: 2.5rem;
    margin-right: 40px;

}

.from-user .message-inner p {
    margin: 0.3125rem;
    padding: 0 0.9375rem;
}

.from-user .message-inner:before, .from-user .message-inner:after {
    content: "";
    position: absolute;
}

.from-user .message-inner:before {
    z-index: -2;
    bottom: -0.375rem;
    right: 0;
    height: 0.375rem;
    width: 0.5rem;
    background: #1cb3a0;
}

.from-user .message-inner:after {
    z-index: -1;
    bottom: -0.5rem;
    right: 0;
    height: 0.5rem;
    width: 0.5rem;
    background: #fff;
    border-top-right-radius: 1.25rem;
}

.from-watson .message-inner {
    position: relative;
    border-radius: 1.5625rem;
    font-size: 1rem;
    color: #323232;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
}

.from-watson p {
    margin: 0.3125rem;
    padding: 0 1.25rem;
}

.from-watson p:before {
    content: "";
    /* background:#00B4A0; */
    background:#3979D2;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    left: 0.4375rem;
    width: 0.3125rem;
    height: 1.3125rem;
    line-height: 1.3125rem;
}

#textInput {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: #323232;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    height: 2.5rem;
    width: 100%;
    padding-left: 0.125rem;
    margin-bottom: -0.125rem;
    overflow: auto;
}

.inputOutline {
    display: block;
    border-bottom: 0.0625rem solid #aeaeae;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .chat-column {
        padding-top: 4rem;
    }
}